= form_for @user_validate_only_rail do |f|
  - if @user_validate_only_rail.errors.any?
    #error_explanation
      h2 = "#{pluralize(@user_validate_only_rail.errors.count, "error")} prohibited this user_validate_only_rail from being saved:"
      ul
        - @user_validate_only_rail.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :password
    = f.password_field :password
  .actions = f.submit
